/target
**/target
Cargo.lock
.DS_Store
*.swp
*.swo
*~
.env
.env.local

_inspirations
/.idea
/tools.yaml
/.run/
/..run/
/VOLAR.md
data/matpower_network.xlsx
data/TYNDP_mod_aggregated_CH_base_individual_DBs.xlsx
